doctype html
html
  head
    title Artists Scrape MVP
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
    script(src="/js/index.js")
